:host {

  .score-card {
    img {
      height: 50px;
      max-width: 100px;
    }
    .score {
      font-size: 50px;
      margin-left: 10px;
    }
    .score-item {
      display: flex;
      align-items: center;
    }
  }

  .movie-container {
    justify-content: center;
    .picture-container {
      mat-card {
        display: inline-block;
        text-align: center;
      }
    }
    .movie-description {
      .about {
        width: 600px;

        .info-table {
          text-align: left;
          width: 100%;
        }
      }
    }
  }
}
